.title-picture {
  background-image: url("bilder/DSC00697-HDRB.JPG");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  transform: scale(1.1);
  filter: blur(3px);
  -webkit-filter: blur(3px);
  position: absolute;
}

.foreground {
  position: absolute;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  flex-direction: row;

  .logout-and-profile {
    justify-content: space-between;

    .logout-button {
      margin-left: 4rem;
    }

    .profile-icon-link {

      .profile-icon {
        margin-right: 4rem;
        margin-left: 0 !important;
      }
    }
  }

}








.post {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: 20rem;
  margin-bottom: 3rem;
}

.likes{
  margin: 2rem;
}


.comment-box {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  background-color: #E1E1E1;
  width: 15rem;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.comment-single{
  border-bottom: #FFFFFF 2px solid;
  p {

    margin: 0.5rem;
  }
}

.comment-new{
  position: sticky;
  top: 100%;
  width: 100%;
}

.comment-new-input {
  width: 100%;
}

body {
  overflow-x: hidden;
}

